@model  IEnumerable<Leaderboard.Models.LeaderboardItem>
@{
    ViewBag.Title = "Team";
}

<h2>List of all teams</h2>

@*<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Score</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>*@

@{


    foreach (var item in Model)
    {
        <!-- Left-aligned -->
        <div class="media">
            <div class="media-left">
                <img src="@item.ProfileImageUri" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@item.Name</h4>
                <p>Lorem ipsum...</p>
            </div>
        </div>
    }
}